.circle{
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    margin: auto;
    border: 20px solid;
}

.clock{
    box-sizing: border-box;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background:white;
}

.clock::before{
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.hand{
    width: 10px;
    height: 20px;
    position: absolute;
    bottom: 50%;
    left: 50%;
    box-shadow: 2px 2px 12px rgba(0,0,0, 0.651);

}

.hour{
    width: 8px;
    height: 38%;
    background-color: black;
    transform: translate(-50%) rotate(140deg);
    transform-origin: bottom;
    border-top-left-radius: 9px;
    border-top-right-radius: 7px;
}

.minute{
    width: 5px;
    height: 45%;
    background-color: black;
    transform: translate(-50%) rotate(6deg);
    transform-origin: bottom;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.second{
    width: 3px;
    height: 48%;
    background-color: black;
    transform: translateX(-50%) rotate(12deg);
    transform-origin: bottom;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

